html {
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
}
body {
    font-family: helvetica-neue, helveticaneue, helvetica, arial, "sans serif";
    margin: 0;
    padding: 0;
    height: -webkit-calc(100% - 11px);
    height: calc(100% - 11px);
}

#tab-bar {
    margin-top: 10px;
    font-size: 14px;
    z-index: 1000;
    position: relative;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#tab-bar > span {
    padding: 3px 5px;
    border: #afafaf solid 1px;
    cursor: pointer;
}

#tab-bar > span.selected-tab{
    padding-top: 7px;
    border-bottom: 1px solid white;
}
#tab-bar > span:not(.selected-tab){
    background-color: #eaeaea;
}
#tab-bar > span:last-child {
    border-right: #afafaf solid 1px;
}

#tab-content{
    margin-left: 10px;
    margin-right: 10px;
    width: -webkit-calc(100% -20px);
    width: calc(100% -20px);
    height: -webkit-calc(100% - 19px);
    height: calc(100% - 19px);
    position: relative;
    top: 3px;
    border-top: #afafaf 1px solid;
    padding-top: 20px;
    z-index: 10;
}

#content-table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#content-table thead td {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 20px;
}

#content-table td {
    border-left: 1px solid #e0e0e0;
}
#content-table td:first-child {
    border-left: none;
}
#content-table tbody tr {
    height: 35px;
    font-size: 12px;
    border-top: none;
    border-bottom: none;
}

#content-table tbody tr:first-child td {
    border-top: 1px solid #e0e0e0;
}

#content-table tbody tr:hover {
    /*border-top: #60b2e1 1px solid;*/
    /*border-bottom: #60b2e1 1px solid;*/
    background-color: #dff0f8;
}

#content-table tbody tr:last-child {
    height: 100%;
}
#content-table tbody tr:last-child:hover {
    height: 100%;
    background-color: white;
}

#content-table button {
    font-size: 12px;
    border: 1px solid #ACACAC;
    padding: 4px 20px;
    background-image: linear-gradient(top, #F0F0F0, #E5E5E5);
    background-image: -webkit-linear-gradient(top, #F0F0F0, #E5E5E5);

    cursor: pointer;
}

#content-table button:active {
    border: 1px solid #c3def4;
    background-image: linear-gradient(top, #E8F7FF, #DBECF4);
    background-image: -webkit-linear-gradient(top, #E8F7FF, #DBECF4);
}

.inactive-button {
    color: #999999;
}

#status-msg {
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 12px;
}