<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>System</title>
    <link type="text/css" href="css/main.css" rel="stylesheet" />

    <script type='text/javascript' language='javascript' src='libs/jquery-1.7.2.min.js'></script>
    <script type="text/javascript" src="libs/backbone/underscore-min.js"></script>
    <script type="text/javascript" src="libs/backbone/json2.js"></script>
    <script type="text/javascript" src="libs/backbone/backbone-min.js"></script>

</head>
<body>
<div id="status-msg"></div>
<div id="tab-bar">
    <span id="processes" class="selected-tab">Processes</span><span id="cache">Cache</span><span id="logs">Logs</span>
</div>
<div id="tab-content"></div>
<script type="text/javascript">

    String.prototype.looseContains = function(words) {
        var processedString = this.replace(/\s+/g, '').toLowerCase();
        if (words) {
            for (var i in words) {
                var temp = words[i].replace(/\s+/g, '').toLowerCase();
                if (processedString == temp) {
                    return true;
                }
            }
            return false;
        } else {
            return false;
        }
    }

    //TODO: Utilize documentFragment in table views

    function run() {
        $(function(){ 
            fin.desktop.main(function() {

                var bus = (function () {
                    var bus = {};
                    var callbacks = {};
        
                    bus.subscribe = function (topic, callback) {
                        console.log("subscribe: ", topic);
                        callbacks[topic] = callbacks[topic] || [];
                        callbacks[topic].push(callback);
                    };
        
                    bus.send = function (topic, message) {
                        window.opener._dispatchMessage(window, topic, message);
                    };
        
                    window._dispatchMessage = function (topic, message) {
                        var array = callbacks[topic];
                        for (var i = 0 ; i < array.length; i++) {
                            array[i](message);
                        }
                    };
        
                    return bus;
                })();
                
                var PROCESSES = 'Processes', LOGS = 'Logs', CACHE = 'Cache';
                MONTHS_ABBR = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"];
        
                //A Process Model
                var ProcessModel = Backbone.Model.extend({
                    defaults: function(){
                        return {
                            icon: '',
                            name: 'Process' + (Math.random() * 100).toFixed(0),
                            cpu: (Math.random() * 10).toFixed(2) + '%',
                            pid: -1,
                            memory: (Math.random() * 10).toFixed(2) + ' KB',
                            uuid: (Math.random() * 1000000000).toFixed(0)
                        }
                    },
                    initialize: function(){
                        d = this.defaults();
                        for (var key in d) {
                            if (!this.get(key)) this.set(key, d[key]);
                        }
                    }
                });
        
                var ProcessCollection = Backbone.Collection.extend({
                    model: ProcessModel,
                    updateRate: 1000,
                    fetch: function(options){
                        var collection = this;
                        fin.desktop.System.getProcessList(function (data) {
                            collection.set(data);
                            if (options && options.success && typeof options.success === 'function') {
                                options.success();
                            }
                        });
                    },
                    startInterval: function(){
                        var collection = this;
                        this.interval = setInterval(function(){
                            collection.fetch();
                        }, this.updateRate);
                    },
                    stopInterval: function(){
                        if (this.interval) {
                            clearInterval(this.interval);
                        }
                    }
                    //write a custom fetch function
                });
        
                var ProcessRowView = Backbone.View.extend({
                    tagName: 'tr',
                    template: _.template($('#process-row-template').html()),
                    events: {
                        'click button': 'killProcess'
                    },
                    initialize: function(){
                        _(this).bindAll('render', 'getElement', 'killProcess');
                    },
                    render: function(){
                        var cpuUsage = this.model.get('cpuUsage') || 0.00;
                        var memory = this.model.get('workingSetSize') || 0.00;
        
                        this.$el.attr('id', this.model.get('uuid')).html(this.template({
                            cpuUsage: cpuUsage.toFixed(2) + '%',
                            memory: (memory/1000000).toFixed(2) + ' MB',
                            name: this.model.get('name'),
                            processId: this.model.get('processId')
                        }));
                        return this;
                    },
                    getElement: function() {
                        return this.el;
                    },
                    killProcess: function() {
                        console.log("KILLING PROCESS");
                        fin.desktop.Application.wrap(this.model.get('uuid')).close();
                    }
                });
        
                var ProcessTableView = Backbone.View.extend({
                    tagName: 'table',
                    columns: ['Name', 'PID', 'CPU', 'Memory', 'Action'],
                    template: _.template($('#table-template').html()),
                    initialize: function(){
                        _(this).bindAll('addRow', 'removeRow', 'render');
                        this.listenTo(this.collection, 'add', this.addRow);
                        this.listenTo(this.collection, 'remove', this.removeRow);
                        this.listenTo(this.collection, 'change', this.render);
        
                        this._rowViews = {};
        
                        this.collection.map(function(processModel){
                            this._rowViews[processModel.cid] = new ProcesRowView({model: processModel});
                        }, this);
                    },
                    addRow: function(processModel){
                        this._rowViews[processModel.cid] = new ProcessRowView({model: processModel});
                        this._rowViews[processModel.cid].render();
                        this.render();
                    },
                    removeRow: function(processModel) {
                        delete this._rowViews[processModel.cid];
                        this.render();
                    },
                    render: function(){
                        this.$el.attr('id', 'content-table').html(this.template({columns: this.columns}));
                        this.$tbody = $(document.createElement('tbody'));
                        this.$el.append(this.$tbody);
        
                        //Add the process rows
                        for (var i in this._rowViews){
                            this.$tbody.append(this._rowViews[i].getElement());
                            this._rowViews[i].delegateEvents();
                        }
        
                        //Add empty filler row
                        this.$tbody.append('<tr><td></td><td></td><td></td><td></td><td></td></tr>');
        
                        return this;
                    }
                });
        
                var LogModel = Backbone.Model.extend({
                    defaults: function(){
                        return {
                            date: 'May 15, 2013',
                            time: new Date().getTime()/1000,
                            size: (Math.random() * 50).toFixed(1) + ' MB'
                        }
                    },
                    initialize: function(){
                        d = this.defaults();
                        for (var key in d) {
                            if (!this.get(key)) this.set(key, d[key]);
                        }
                    }
                });
        
                var LogCollection = Backbone.Collection.extend({
                    model: LogModel,
                    fetch: function(options){
                        var collection = this;
                        fin.desktop.System.getLogList(function (data) {
                            collection.set(data);
        //                    console.log("Log Collection!");
        //                    console.log(collection);
                            if (options && options.success && typeof options.success === 'function') {
                                options.success();
                            }
                        });
                    }
                });
        
                var LogRowView = Backbone.View.extend({
                    tagName: 'tr',
                    template: _.template($('#log-row-template').html()),
                    events: {
                        'click .report-log': 'submitLog'
                    },
                    initialize: function(){
                        _(this).bindAll('render', 'getElement', 'submitLog');
                    },
                    render: function(){
                        this.$el.attr('id', this.model.get('name')).html(this.template({
                            date: new Date(this.model.get('date')),
                            size: this.model.get('size')/1000,
                            name: this.model.get('name')
                        }));
                        return this;
                    },
                    getElement: function() {
                        return this.el;
                    },
                    submitLog: function() {
                        var self = this;
                        //get the log
                        fin.desktop.System.getLog(this.model.get('name'), function(data){
                            var log = {};
                            log.name = self.model.get('name');
                            log.size = self.model.get('size');
                            log.date = self.model.get('date');
                            log.logData = data;
        
                            //send the log
                            bus.send( 'save-log', log);
                        });
                    }
                });
        
                var LogTableView = Backbone.View.extend({
                    tagName: 'table',
                    columns: ['Date', 'Time', 'Size', 'Action'],
                    template: _.template($('#table-template').html()),
                    initialize: function(){
                        _(this).bindAll('addRow', 'render', 'activateEvents');
                        this.listenTo(this.collection, 'add', this.addRow);
                        this.listenTo(this.collection, 'change', this.render);
        
                        this._rowViews = {};
        
                        this.collection.map(function(logModel){
                            this._rowViews[logModel.cid] = new LogRowView({model: logModel});
                        }, this);
                    },
                    addRow: function(logModel){
                        this._rowViews[logModel.cid] = new LogRowView({model: logModel});
                        this._rowViews[logModel.cid].render();
                        this.render();
                    },
                    render: function(){
                        this.$el.attr('id', 'content-table').html(this.template({columns: this.columns}));
                        this.$tbody = $(document.createElement('tbody'));
                        this.$el.append(this.$tbody);
        
                        //Add the log rows
                        for (var i in this._rowViews){
                            this.$tbody.append(this._rowViews[i].getElement());
                        }
        
                        //Add empty filler row
                        this.$tbody.append('<tr><td></td><td></td><td></td><td></td></tr>');
        
                        return this;
                    },
                    activateEvents: function(){
                        //Add the log rows
                        for (var i in this._rowViews){
                            this._rowViews[i].delegateEvents();
                        }
                    }
                });
        
                var CacheTableView = Backbone.View.extend({
                    tagName: 'table',
                    template: _.template($('#cache-table-template').html()),
                    events: {
                        'click #clear-all-cache': 'clearAllCache',
                        'click #clear-cookies-cache': 'clearCookiesCache',
                        'click #clear-local-storage': 'clearLocalStorage'
                    },
                    state: {
                        CLEAR_ALL : 'clear-all-cache',
                        CLEAR_COOKIES : 'clear-cookies-cache',
                        CLEAR_LOCAL : 'clear-local-storage'
                    },
                    initialize: function(){
                        _(this).bindAll('render', 'clearAllCache', 'clearCookiesCache', 'clearLocalStorage');
                    },
                    render: function(){
                        this.$el.attr('id', 'content-table').html(this.template());
                        this.delegateEvents();

                        if (this.currentState == this.state.CLEAR_ALL) {
                            this.$el.find('#clear-all-cache > button, #clear-cookies-cache > button, #clear-local-storage > button').addClass('inactive-button');
                        } else if (this.currentState == this.state.CLEAR_COOKIES) {
                            this.$el.find('#clear-cookies-cache > button').addClass('inactive-button');
                        } else if (this.currentState == this.state.CLEAR_LOCAL) {
                            this.$el.find('#clear-local-storage > button').addClass('inactive-button');
                        }
                        return this;
                    },
                    clearAllCache: function(){
                        fin.desktop.System.deleteCacheOnRestart();
                        $('#clear-all-cache > button, #clear-cookies-cache > button, #clear-local-storage > button').addClass('inactive-button');
                        this.currentState = this.state.CLEAR_ALL;
                    },
                    clearCookiesCache: function(){
                        fin.desktop.System.clearCache({
                            appcache:false,
                            localStorage: false,
                            cache: false,
                            cookies: true,
                            userData: false
                        });
                        $('#clear-cookies-cache > button').addClass('inactive-button');
                        this.currentState = this.state.CLEAR_COOKIES;
                    },
                    clearLocalStorage: function(){
                        fin.desktop.System.clearCache({
                            appcache:false,
                            localStorage: true,
                            cache: false,
                            cookies: false,
                            userData: false
                        });
                        $('#clear-local-storage > button').addClass('inactive-button');
                        this.currentSTate = this.state.CLEAR_LOCAL;
                    }
        
                });
        
        
                var ViewController = function(){
                    this.processCollection = new ProcessCollection();
                    this.processTable = new ProcessTableView({collection: this.processCollection});
                    this.processCollection.fetch();
        
                    this.logCollection = new LogCollection();
                    this.logTable = new LogTableView({collection: this.logCollection});
                    this.logCollection.fetch();
        
                    this.currentTab = null;
        
                    this.cacheTable = new CacheTableView();
                };
                ViewController.prototype = {
                    moveToTab: function(tabName) {
                        if (this.currentTab != tabName) {
                            this.processCollection.stopInterval();
        
                            if (tabName == PROCESSES) {
                                $('#tab-content').html(this.processTable.render().el);
                                this.processCollection.startInterval();
                            }
        
                            if (tabName == LOGS) {
                                $('#tab-content').html(this.logTable.render().el);
                                this.logTable.activateEvents();
                            } else if (tabName == CACHE) {
                                $('#tab-content').html(this.cacheTable.render().el);
                                this.cacheTable.delegateEvents();
                            }
                            this.currentTab == tabName;
                        }
                    },
                    onHide: function(){
        
                    }
                };
        
                var vc = new ViewController();
                vc.moveToTab(LOGS);
        
                bus.subscribe( 'show-cache', function(msg){
                    var w = fin.desktop.Window.getCurrent();
        
                    vc.moveToTab(CACHE);
                    $('#tab-bar > span').removeClass('selected-tab');
                    $('#cache').addClass('selected-tab');
                    w.show();
                    w.restore();
                    w.bringToFront();
                });
        
                bus.subscribe( 'show-processes', function(msg){
                    var w = fin.desktop.Window.getCurrent();
        
                    vc.moveToTab(PROCESSES);
                    $('#tab-bar > span').removeClass('selected-tab');
                    $('#processes').addClass('selected-tab');
                    w.show();
                    w.restore();
                    w.bringToFront();
                });
        
                bus.subscribe( 'show-log', function(msg){
                    var w = fin.desktop.Window.getCurrent();
        
                    vc.moveToTab(LOGS);
                    $('#tab-bar > span').removeClass('selected-tab');
                    $('#logs').addClass('selected-tab');
                    w.show();
                    w.restore();
                    w.bringToFront();
                });
        
                bus.subscribe( 'save-log-ack', function(msg){
                    if (msg.status) {
                        $('#status-msg').html('Log successfully sent to OpenFin').css('color', 'green');
                    } else {
                        $('#status-msg').html('You must login to report logs').css('color', 'red');
                    }
                });
        
                //Handle Tab Click Events
                $('#tab-bar > span').click(function(evt){
                    $('#tab-bar > span').removeClass('selected-tab');
                    evt.target.className += ' selected-tab';
                    vc.moveToTab(evt.target.innerHTML);
                });

                if (window.opener == null) {
                    $('#tab-bar > span').removeClass('selected-tab');
                    $('#processes').addClass('selected-tab');
                    vc.moveToTab($('#processes').html());
                }
    
            });
        });
    }

    if (window.opener == null) {
        // invoked as an app, not from startup menu
        console.log("calling run as an app");
        run();
    }


</script>

<script type="text/template" id="table-template">
    <thead><tr>
        <% for (var i = 0; i < columns.length; i++){ %>
        <td><%= columns[i] %></td>
        <% } %>
    </tr></thead>
</script>


<script type="text/template" id="log-row-template">

    <td><%= MONTHS_ABBR[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear() %></td>
    <td>
        <% if (date.getMinutes() < 10) { %>
        <%= date.getHours() + ':0' + date.getMinutes() %>
        <% } else { %>
        <%= date.getHours() + ':' + date.getMinutes() %>
        <% } %>
    </td>
    <td>
        <% if (isNaN(size)) { %>
        <%= '0.00 KB'%>
        <% } else { %>
        <%= size.toFixed(2) + ' KB' %>
        <% } %>
    </td>
    <td>
        <button id="log-action-<%= name %>" class="report-log">Report</button>
    </td>
</script>
<script type="text/template" id="process-row-template">
    <td><%= name %></td>
    <td><%= processId %></td>
    <td><%= cpuUsage %></td>
    <td><%= memory %></td>
    <td>
        <% if (!name.looseContains(['Desktop Controller', 'walkthrough', 'Openfin Startup Menu'])) { %>
        <button id="process-action-<%= name %>">End Task</button>
        <% } %>
    </td>
</script>
<script type="text/template" id="cache-table-template">
    <thead>
        <tr>
            <td>Cache</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Clear all cache</td>
            <td id="clear-all-cache"><button>Clear</button></td>
        </tr>
        <tr>
            <td>Clear cookies for all applications</td>
            <td id="clear-cookies-cache"><button>Clear</button></td>
        </tr>
        <tr>
            <td>Clear local storage for all applications</td>
            <td id="clear-local-storage"><button>Clear</button></td>
        </tr>
        <tr><td></td><td></td></tr>
    </tbody>
</script>

</body>
</html>
