body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 5px;
    position:relative;
    height: 100%;
}

#content {
    position:relative;
    height: 100%;
}

#tab-bar {
    height: 32px;
    margin: 10px 0 0 0;
    padding:0 5px;
    position: relative;
    list-style: none;
}

#tab-bar .top-tab {
    height: 22px;
    padding: 4px 10px 0 10px;
    background-color: #eaeaea;
    border: 1px solid #afafaf;
    display: inline-block;
    position:relative;
    top: 4px;
    z-index: 4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#tab-bar .top-tab.selected {
    height: 26px;
    background-color: #fff;
    border-bottom: 1px solid white;
    top: 0px;
}

#tab-bar .top-tab:last-child {
    border-right: 1px solid #afafaf;
}

#tab-contents {
    border: 1px solid #afafaf;
    position: relative;
    top: -1px;
    z-index: 3;
    padding: 10px;
    height: calc(100% - 32px);
    border-radius: 4px;
}

.tab-content {
    display: none;
    width: 100%;
    height: 100%;
}

.tab-content.selected {
    display: block;
}

.table {
    display: table;
    width: 100%;
}

.table .thead {
    display: table-header-group;
}

.table .tbody {
    display: table-row-group;
}

.table .row {
    display: table-row;
}

.table .row .cell {
    display: table-cell;
    width: auto;
    padding: 3px 4px;
}

.table .thead .row .cell {
    background-color: #eee;
    padding: 6px 2px;
    font-weight: bold;
}
