html, body {
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

main {
    padding: 10px;
}

menu {
    display: flex;
    margin: 10px 5px;
    padding: 0;
    list-style: none;
}

menu li {
    margin: 0 0 0 10px;
}

menu li.rhs {
    margin-left: auto;
    margin-right: 10px;
}

.react-resizable {
    position: relative;
    background-clip: padding-box;
}

.react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
}

.firstcap {
    text-transform: capitalize;
}